// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #eeeeee !default;
$gray-200: #bcc1c9 !default;
$gray-300: #494b51 !default;
$gray-400: #ced4da !default;
$gray-500: #595b61 !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #ececed !default;
$black: #000 !default;

$primary: #00aee4 !default;
$secondary: #ff6a00 !default;

// Custom Variables
$blue-100:#00aee4;
$blue-200:#00a6dc;
$blue-300:#ebebeb;
$blue-400:#1667d3;
$blue-500:#00bbc7;
$blue-600:#80b5ff;
$blue-700:#488fdc;

$dark-blue:#1f2e42;

$white-100:#fafafa;
$white-200:#f4f4f4;
$white-300:#f9f9fa;

$green-100:#92d758;
$green-200:#8aff00;
$green-300:#81c04b;

$bodyfont:0.8rem;
$midfont:1.125rem;
$smallfont:0.7rem;
$bigfont: 1.875rem;
$biggerfont:3.75rem;

$bg-one:url('../img/facebg.png');
$bg-a:url('../img/header-3.png');
